
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
font-family: Arial, sans-serif;
background-color: #f9f9f9;
}

/* Comum */
#layout {
padding: 10px;
}

/* Layout 1 */
.layout1 .header,
.layout1 .footer {
background: #333;
color: white;
padding: 20px;
text-align: center;
}

.layout1 .main {
display: flex;
gap: 10px;
margin: 10px 0;
}

.layout1 .artigo {
flex: 1;
background: aquamarine;
padding: 20px;
}

.layout1 .menu {
background-color: #e96f9d; 
padding: 20px;
width: 200px;
border-radius: 10px;
display: flex;
flex-direction: column;
gap: 15px;
margin: 20px;
font-family: sans-serif;
}

.menu a {
color: #000;
text-decoration: none;
font-weight: bold;
padding: 10px;
background-color: white;
border-radius: 5px;
text-align: center;
transition: 0.3s;
}

.menu a:hover {
background-color: #ffd6de;
color: #333;
}


img {
    width: 300px;
    height: 200px auto;
}

/* Layout 2 */
.layout2 .header {
background:#9808a5;
color:aliceblue;
padding: 20px;
text-align: center;
}
.layout2 .footer {
background: #444;
color: white;
padding: 20px;
text-align: center;
}

.layout2 .main {
display: flex;
gap: 10px;
margin: 10px 0;
}

.layout2 .menu {
background-color: #e96f9d; 
padding: 20px;
width: 200px;
border-radius: 10px;
display: flex;
flex-direction: column;
gap: 15px;
margin: 20px;
font-family: sans-serif;
}

.menu a {
color: #000;
text-decoration: none;
font-weight: bold;
padding: 10px;
background-color: white;
border-radius: 5px;
text-align: center;
transition: 0.3s;
}

.menu a:hover {
background-color: #ffd6de;
color: #333;
}


.layout2 .content {
flex: 1;
background: #2162ad;
padding: 15px;
}

.layout2 .ad {
width: 100px;
background: #b3f3f0;
padding: 15px;
}

/* Layout 3 */
.layout3 .grid {
display: flex;
flex-wrap: wrap;
width: 300px;
margin: 30px auto;
}

.layout3 .menu {
background-color: #e96f9d; 
padding: 20px;
width: 200px;
border-radius: 10px;
display: flex;
flex-direction: column;
gap: 15px;
margin: 20px;
font-family: sans-serif;
}

.menu a {
color: #000;
text-decoration: none;
font-weight: bold;
padding: 10px;
background-color: white;
border-radius: 5px;
text-align: center;
transition: 0.3s;
}

.menu a:hover {
background-color: #ffd6de;
color: #333;
}

.layout3 .cell {
width: 50px;
height: 50px;
background: hwb(293 68% 3%);
}

.layout3 .dark {
background: #9808a5;
}
